.title {
  font-size: 3rem;
  text-align: center;
  /* color: ; */
}

.subtitle {
  font-size: 1.6rem;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}